@import url('https://fonts.googleapis.com/css?family=Baskervville|Open+Sans&display=swap');

h1, h2 {
    font-family: 'Baskervville', serif;
    padding-top: 20px;
}
  
 body {
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    height: 800px;
    width: 100%;
    padding: 0;
    -moz-background-size: cover;
    background: rgb(0,46,84);
    background: linear-gradient(180deg, rgba(0,46,84,1) 0%, rgba(114,140,161,1) 67%, rgba(155,173,188,1) 80%, rgba(199,209,217,1) 90%, rgba(255,255,255,1) 100%);
    text-align: center; 
    }
  
.d-flex {
    justify-content: center;
}